<h2>Add Invoice</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm" >
  <div class="form-group">
    <label for="name"><b>Product Name</b></label> <br>
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           required
           [(ngModel)] = "invoice.name">
           Please fill Product name
  </div>
  <br>
  <div class="form-group">
    <label for="amount"><b>Amount</b></label><br>
    <input type="number"
           class="form-control"
           id="amount"
           name="amount"
           required
           [(ngModel)] = "invoice.amount">      
  </div>
  <br>
  <button type="submit" class="btn btn-primary" >Save Invoice</button>
</form>